@import "Components/SharedStyling/SharedStyling";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-color: $dark-blue;
  font-family: 'Manrope', sans-serif;
}


